extends ../backendlayout

block content    
    // MAIN CONTENT
    .main-content
      .section__content.section__content--p30
        .container-fluid
          .row
            .container-fluid
              // MAIN CONTENT
              .main-content
                .section__content.section__content--p30
                  .container-fluid
                    .row
                      .col-md-12
                        .overview-wrap
                          h2.title-1 overview
                          a(href='/property/add')
                            button.au-btn.au-btn-icon.au-btn--blue
                              i.zmdi.zmdi-plus
                              | add properties
                    .row.m-t-25
                      .col-xs-6.col-lg-4
                        .overview-item.overview-item--c1
                          .overview__inner
                            .overview-box.clearfix
                              .icon
                                i.zmdi.zmdi-home
                              br
                              .text
                                h2 
                                  =propertycount
                                span Properties
                      .col-xs-6.col-lg-4
                        .overview-item.overview-item--c2
                          .overview__inner
                            .overview-box.clearfix
                              .icon
                                i.zmdi.zmdi-calendar-note
                              br
                              .text
                                h2 38,688
                                span Views 
                      .col-xs-4.col-lg-4
                        .overview-item.overview-item--c4
                          .overview__inner
                            .overview-box.clearfix
                              .icon
                                i.zmdi.zmdi-money
                              br
                              .text
                                h2 Ksh. 
                                  =user.wallet
                                span Balance
                            
