extends ../layout

block content        
    // property area
    .properties-area.recent-property(style='background-color: #FFF;')
        .container
            .row
                .col-md-9.padding-top-40.properties-page
                    .section.clear
                        .col-xs-10.page-subheader.sorting.pl0
                            ul.sort-by-list
                                li.active
                                    a.order_by_date(href='javascript:void(0);' data-orderby='property_date' data-order='ASC')
                                        | Property Date 
                                        i.fa.fa-sort-amount-asc
                                li
                                    a.order_by_price(href='javascript:void(0);' data-orderby='property_price' data-order='DESC')
                                        | Property Price 
                                        i.fa.fa-sort-numeric-desc
                                // / .sort-by-list
                            .items-per-page
                                label(for='items_per_page')
                                    b Property per page :
                                .sel
                                    select#items_per_page(name='per_page')
                                        option(value='3') 3
                                        option(value='6') 6
                                        option(value='9') 9
                                        option(selected='selected' value='12') 12
                                        option(value='15') 15
                                        option(value='30') 30
                                        option(value='45') 45
                                        option(value='60') 60
                                // / .sel
                                // / .items-per-page
                        //.col-xs-2.layout-switcher
                            a.layout-list(href='javascript:void(0);')
                                i.fa.fa-th-list
                            a.layout-grid.active(href='javascript:void(0);')
                                i.fa.fa-th
                        // / .layout-switcher
                    .section.clear
                        #list-type.proerty-th
                            each p in properties
                              .col-sm-6.col-md-4.p0
                                a(href='/property/'+p.slug)
                                  .box-two.proerty-item
                                      .item-thumb
                                          a(href='/property/'+p.slug)
                                              img(src='/uploads/'+p.photo)
                                      .item-entry.overflow
                                          h5
                                              a(href='/property/'+p.slug) 
                                                =p.name
                                          .dot-hr
                                      span.pull-left
                                          b  Area :
                                          |  120m
                                      span.proerty-price.pull-right  Ksh.
                                        =p.price
                                      p(style='display: none;')
                                          =p.description
                                      .property-icon
                                          img(src='assets/img/icon/bed.png')
                                          | (5)|
                                          img(src='assets/img/icon/shawer.png')
                                          | (2)|
                                          img(src='assets/img/icon/cars.png')
                                          | (1)
                              
                    .section
                        .pull-right
                            .pagination
                                ul
                                    li
                                    a(href='#') Prev
                                    li
                                    a(href='#') 1
                                    li
                                    a(href='#') 2
                                    li
                                    a(href='#') 3
                                    li
                                    a(href='#') 4
                                    li
                                    a(href='#') Next
                .col-md-3.pl0.padding-top-40
                    .blog-asside-right.pl0
                        .panel.panel-default.sidebar-menu.wow.fadeInRight.animated
                            .panel-heading
                                h3.panel-title Smart search
                            .panel-body.search-widget
                                form.form-inline(action='search',method='get')
                                    .row
                                        .col-md-12(style='padding-right: 0px; padding-left: 0px;')
                                            .btn-group(style='float: left; padding-left: 2rem;')
                                                each cat, i in categories
                                                    button(type="button" class="btn btn-primary btn-search")
                                                        label
                                                            input(type="radio" name="category",value=cat.id, rel=cat.slug style="display:none; position absolute")
                                                            =cat.name
                                    .row
                                        .col-xs-6(style="margin-top:1rem")
                                            .switch-field
                                                input#switch_left(type='radio' name='type' value='sale' checked='')
                                                label(for='switch_left') For Sale
                                                input#switch_right(type='radio' name='type' value='rent')
                                                label(for='switch_right') For Rent
                                        .col-xs-6(style="margin-top:1rem")
                                            select#lunchBegins.selectpicker(data-live-search='true' data-live-search-style='begins' title='Location', name="city")
                                                option New york, CA
                                                option Paris
                                                option Casablanca
                                                option Tokyo
                                                option Marraekch
                                                option kyoto , shibua
                                    
                                    .row
                                        .col-xs-6(style="margin-top:1rem")
                                            select#basic.show-tick.form-control(title='Select Property Subcategory',name="subcategory")
                                            option(class='status',value='') Property Category
                                            each cat in categories
                                                each subcat in cat.subcategories
                                                    option(class='category iradio_square-yellow',value=subcat.name,rel=cat.name) 
                                                        =subcat.name
                                        .col-xs-6(style="margin-top:1rem")
                                            input(type="text" id="minprice" class="form-control" placeholder="Max Price",name="manprice")
                                        
                                    .row(class='others')
                                        .col-xs-8(style="margin-top:1rem")
                                        input(type="text" class="form-control" placeholder="Size",name="size")
                                                
                                        .col-xs-4(style="margin-top:1rem")
                                            select#basic.selectpicker.show-tick.form-control(data-live-search='true' data-live-search-style='begins')
                                                option  Acre
                                                option Hectares 
                                                option m2
                                                option SqF
                                    .row(class='residential')
                                        .col-xs-6(style="margin-top:1rem")
                                            input(type="text" class="form-control" placeholder="No.BEDROOMS",name="bedrooms")
                                            
                                        .col-xs-6(style="margin-top:1rem")
                                            input(type="text" class="form-control" placeholder="No.BATHROOMS",name="bathrooms")
                                    .row
                                        .col-xs-12(style="margin-top:1rem")
                                            a(href="#")
                                            button.btn.search-btn.hide-search.text-center(type='submit')
                                                i.fa.fa-search
                                                |     Search
                        .panel.panel-default.sidebar-menu.wow.fadeInRight.animated
                            .panel-heading
                               h3.panel-title Recommended
                            .panel-body.recent-property-widget
                                ul
                                    li
                                        .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
                                            a(href='single.html')
                                                img(src='assets/img/demo/small-property-2.jpg')
                                            span.property-seeker
                                                b.b-1 A
                                                b.b-2 S
                                        .col-md-8.col-sm-8.col-xs-8.blg-entry
                                            h6
                                                a(href='single.html') Super nice villa 
                                            span.property-price 3000000$
                                    li
                                        .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
                                            a(href='single.html')
                                                img(src='assets/img/demo/small-property-1.jpg')
                                            span.property-seeker
                                                b.b-1 A
                                                b.b-2 S
                                        .col-md-8.col-sm-8.col-xs-8.blg-entry
                                            h6
                                                a(href='single.html') Super nice villa 
                                            span.property-price 3000000$
                                    li
                                        .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
                                            a(href='single.html')
                                                img(src='assets/img/demo/small-property-3.jpg')
                                            span.property-seeker
                                                b.b-1 A
                                                b.b-2 S
                                        .col-md-8.col-sm-8.col-xs-8.blg-entry
                                            h6
                                                a(href='single.html') Super nice villa 
                                            span.property-price 3000000$
                                    li
                                        .col-md-3.col-sm-3.col-xs-3.blg-thumb.p0
                                            a(href='single.html')
                                                img(src='assets/img/demo/small-property-2.jpg')
                                            span.property-seeker
                                                b.b-1 A
                                                b.b-2 S
                                        .col-md-8.col-sm-8.col-xs-8.blg-entry
                                            h6
                                                a(href='single.html') Super nice villa 
                                            span.property-price 3000000$
