doctype html
head
  // Required meta tags
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='au theme template')
  meta(name='author' content='Hau Nguyen')
  meta(name='keywords' content='au theme template')
  // Title Page
  title Soko Estate Dashboard
  // Fontfaces CSS
  link(href='/stylesheets/font-face.css' rel='stylesheet' media='all')
  link(href='/vendor/font-awesome-4.7/css/font-awesome.min.css' rel='stylesheet' media='all')
  link(href='/vendor/font-awesome-5/css/fontawesome-all.min.css' rel='stylesheet' media='all')
  link(href='/vendor/mdi-font/css/material-design-iconic-font.min.css' rel='stylesheet' media='all')
  // Bootstrap CSS
  link(href='/vendor/bootstrap-4.1/bootstrap.min.css' rel='stylesheet' media='all')
  // Vendor CSS
  link(rel='icon' href='/images/icon/favicon.ico' type='image/x-icon')
  link(href='/vendor/animsition/animsition.min.css' rel='stylesheet' media='all')
  link(href='/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' rel='stylesheet' media='all')
  link(href='/vendor/wow/animate.css' rel='stylesheet' media='all')
  link(href='/vendor/css-hamburgers/hamburgers.min.css' rel='stylesheet' media='all')
  link(href='/vendor/slick/slick.css' rel='stylesheet' media='all')
  link(href='/vendor/select2/select2.min.css' rel='stylesheet' media='all')
  link(href='/vendor/perfect-scrollbar/perfect-scrollbar.css' rel='stylesheet' media='all')
  // Main CSS
  link(href='/stylesheets/theme.css' rel='stylesheet' media='all')
  
.page-wrapper
  // HEADER MOBILE
  header.header-mobile.d-block.d-lg-none
    .header-mobile__bar
      .container-fluid
        .header-mobile-inner
          a.logo(href='/')
            img(src='/assets/img/logosokoestate.png' alt='soko estate')
          button.hamburger.hamburger--slider(type='button')
            span.hamburger-box
              span.hamburger-inner
    nav.navbar-mobile
      .container-fluid
        ul.navbar-mobile__list.list-unstyled
          li.has-sub
            a.js-arrow(href='/admin')
              i.fas.fa-tachometer-alt
              | Dashboard
          li
            a(href='/property/list')
              i.fas.fa-chart-bar
              | Properties
          li
              a(href='/user/profile')
                i.far.fa-user
                | My Account
          li
              a(href='#')
                i.fas.fa-map-marker-alt
                | Analytics
          if(user.role == 1)
            li
              a(href='/category')
                i.fas.fa-table
                | Categories
            li
              a(href='/users')
                i.zmdi.zmdi-accounts
                | Users
          
  // END HEADER MOBILE
  // MENU SIDEBAR
  aside.menu-sidebar.d-none.d-lg-block
    .logo
      a.logo(href='/')
          img(src='/assets/img/logosokoestate.png' alt='soko estate')
    .menu-sidebar__content.js-scrollbar1
      nav.navbar-sidebar
        ul.list-unstyled.navbar__list
          li
            a(href='/admin')
              i.fas.fa-tachometer-alt
              | Dashboard
          li
            a(href='/property/list')
              i.fas.fa-chart-bar
              | Properties
          li
            a(href='/users/profile')
              i.far.fa-user
              | Account
          
          li
            a(href='#')
              i.fas.fa-map-marker-alt
              | Analytics
          if(user.role == 1)
            li
              a(href='/category')
                i.fas.fa-table
                | Categories
            li
              a(href='/users')
                i.zmdi.zmdi-accounts
                | Users
          
  // END MENU SIDEBAR
  // PAGE CONTAINER
  .page-container
    // HEADER DESKTOP
    header.header-desktop
      .section__content.section__content--p30
        .container-fluid
          .header-wrap
            strong
              a(href='/property' style="margin-right:1rem;") View Properties
              a(href='/property/add') Add Property
                  
              //form.form-header(action='' method='POST')
                input.au-input.au-input--xl(type='text' name='search' placeholder='Search for datas & reports...')
                button.au-btn--submit(type='submit')
                  i.zmdi.zmdi-search
                i(class="fas fa-money-bill-alt" aria-hidden="true")
                |  KSH: #{user.wallet}
                a.js-acc-btn(href="/loadwallet")
                |  Load Wallet
            .header-button
              
              .account-wrap
                .account-item.clearfix.js-item-menu
                  
                  .image
                    if user.photouser
                      img(src='/uploads/thumbs/users/'+user.photouser, alt=user.names)
                    else
                      img(src='/images/icon/user.png', alt=user.names)
                      
                  .content
                    a.js-acc-btn(href='#') 
                      =user.names
                  .account-dropdown.js-dropdown
                    //.info.clearfix
                      .content
                        h5.name
                          a(href='#') 
                            =user.names
                        span.email
                          =user.email
                    .account-dropdown__body
                      .account-dropdown__item
                        a(href='/users/profile')
                          i.zmdi.zmdi-account
                          | Account
                      .account-dropdown__item
                        a(href='/favorites')
                          i.zmdi.zmdi-settings
                          | Favourite properties
                    .account-dropdown__footer
                      a(href='/logout')
                        i.zmdi.zmdi-power
                        | Logout
    // END HEADER DESKTOP
    block content
// Jquery JS
script(src='/vendor/jquery-3.2.1.min.js')
// Bootstrap JS
script(src='/vendor/bootstrap-4.1/popper.min.js')
script(src='/vendor/bootstrap-4.1/bootstrap.min.js')
// Vendor JS
script(src='/vendor/slick/slick.min.js')
script(src='/vendor/wow/wow.min.js')
script(src='/vendor/animsition/animsition.min.js')
script(src='/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')
script(src='/vendor/counter-up/jquery.waypoints.min.js')
script(src='/vendor/counter-up/jquery.counterup.min.js')
script(src='/vendor/circle-progress/circle-progress.min.js')
script(src='/vendor/perfect-scrollbar/perfect-scrollbar.js')
script(src='/vendor/chartjs/Chart.bundle.min.js')
script(src='/vendor/select2/select2.min.js')
script(src='/assets/js/accounting.min.js')
script(src='/assets/js/wizard.js')
// Main JS
script(src='/js/main.js')
// end document

//add KSH. symbol to price and separate with commas
script(type='text/javascript').
  $(document).ready(function() {
    $("#price-back td").each(function() {
      var num = $(this).text();
      console.log(num);
      var formNum = accounting.formatMoney(
        num,{
          symbol : "KSH. ",
          thousand: ","
        });
      $(this).text(formNum);
      console.log(formNum);
    }); 
  });
//add more numbers
script(type='text/javascript').
  $(document).ready(function() {
    // Additional form fields
    var max_fields      = 3; //maximum input boxes allowed
    var wrapper   		= $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
      e.preventDefault();
      if(x < max_fields){ //max input box allowed
        x++; //text box increment
        $(wrapper).append('<div><input class="form-control" type="text" name="phones[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
      }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
      e.preventDefault(); $(this).parent('div').remove(); x--;
    })

  });

