extends layout

block content
  .slider-area
    .slider
      .item
        img(src='assets/img/slide1/sokoestate1.jpg' alt='GTA V' style='height:40rem; width:100%;')
        //
          <div id="bg-slider" class="owl-carousel owl-theme">
          <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
          <div class="item"><img src="assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
          <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
          </div>
    .slider-content
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12
          .search-form.wow.pulse(data-wow-delay='0.8s')
            h2 Find Property in Kenya
            form.form-inline(action='search',method='get')
              .row
                .col-md-12
                  each cat, i in categories
                    label.label-soko
                      input(type="radio" name="type",value=cat.id, rel=cat.slug)
                      =cat.name
                  label.label-soko
                    input(type="radio" name="type" style="display:none !important")
                    | Upcoming
              .row
                .col-md-12
                  label.label-protype
                    input(type="radio" name="rent-sale",value="sale")
                    |    For Sale
                  label.label-protype
                    input(type="radio" name="rent-sale",value="rent")
                    |    For Rent
              .row
                .col-md-4
                  select#basic.selectpicker.show-tick.form-control(title='Select Property Subcategory',name="category")
                    option  -Status- 
                    each cat in categories
                      each subcat in cat.subcategories
                        option(class='category',value=subcat.id,rel=cat.id) 
                          =subcat.name
                .col-md-4.search-style
                    input(type="text" id="minprice" class="form-control" placeholder="Min Price",name="minprice")
                .col-md-4
                    select#lunchBegins.selectpicker(data-live-search='true' data-live-search-style='begins' title='Location', name="city")
                      option New york, CA
                      option Paris
                      option Casablanca
                      option Tokyo
                      option Marraekch
                      option kyoto , shibua
              .row
                  .col-md-8(style="margin-top:1rem")
                    input(type="text" class="form-control" placeholder="Size")
                          
                  .col-md-4(style="margin-top:1rem")
                    select#basic.selectpicker.show-tick.form-control(data-live-search='true' data-live-search-style='begins')
                      option  Acre
                      option Hactares 
                      option m2
                      option SqF
              .row
                .col-md-6(style="margin-top:1rem")
                    input(type="text" class="form-control" placeholder="No.BEDROOMS")
                    
                .col-md-6(style="margin-top:1rem")
                  input(type="text" class="form-control" placeholder="No.BATHROOMS")
              .row
                .col-md-12(style="margin-top:1rem")
                  a(href="#")
                    button.btn.search-btn.hide-search.text-center(type='submit')
                      i.fa.fa-search
                      |     Search
              .row
                .col-md-6
                  span(class="btn-info hide-me" id="#hide" data-toggle="collapse" data-target="#demo" style="float:left")
                    i.fa.fa-chevron-down
                    |    More Search Options
                  
                  br
                  div(id="demo" class="collapse")
                    .row
                      .col-md-4(style="margin-top:1rem")
                        select#lunchBegins.selectpicker.form-control(data-live-search='true' data-live-search-style='begins')
                          option General features
                          option Apartment
                          option Warehouse
                          option Bungalow 
                      .col-md-4(style="margin-top:1rem")
                        select#lunchBegins.selectpicker.form-control(data-live-search='true' data-live-search-style='begins')
                          option Outdoor features
                          option Apartment
                          option Warehouse
                          option Bungalow
                      .col-md-4(style="margin-top:1rem")
                        select#lunchBegins.selectpicker.form-control(data-live-search='true' data-live-search-style='begins')
                          option Internal features
                          option Apartment
                          option Warehouse
                          option Bungalow   
                    div.row  
                      .col-md-12(style="margin-top:1rem") 
                          a(href="#")
                            button.btn.search-btn.hide-search.text-center(type='submit')
                              i.fa.fa-search
                              |     Search 
                              
                    .row
                      .col-md-6(style="margin-top:1rem")
                        span(class="btn-info" data-toggle="collapse" data-target="#demo")
                          i.fa.fa-chevron-up
                          |    Less Search Options
                      
  // property area
  .content-area.home-area-1.recent-property(style='background-color: #FCFCFC; padding-bottom: 55px;')
    .container
      .row(style="margin-top:1rem")
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 Top submitted property
      .row
        .proerty-th
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-1.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-2.html')
                  img(src='assets/img/demo/property-2.jpg')
              .item-entry.overflow
                h5
                  a(href='property-2.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-3.html')
                  img(src='assets/img/demo/property-3.jpg')
              .item-entry.overflow
                h5
                  a(href='property-3.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-4.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-3.html')
                  img(src='assets/img/demo/property-2.jpg')
              .item-entry.overflow
                h5
                  a(href='property-3.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-2.html')
                  img(src='assets/img/demo/property-4.jpg')
              .item-entry.overflow
                h5
                  a(href='property-2.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-two.proerty-item
              .item-thumb
                a(href='property-1.html')
                  img(src='assets/img/demo/property-3.jpg')
              .item-entry.overflow
                h5
                  a(href='property-1.html') Super nice villa 
                .dot-hr
                span.pull-left
                  b Area :
                  |  120m
                span.proerty-price.pull-right $ 300,000
          .col-sm-6.col-md-3.p0
            .box-tree.more-proerty.text-center
              .item-tree-icon
                i.fa.fa-th
              .more-entry.overflow
                h5
                  a(href='property-1.html') CAN&apos;T DECIDE ? 
                h5.tree-sub-ttl Show all properties
                button.btn.border-btn.more-black(value='All properties') All properties
  // Welcome area
  .Welcome-area
    .container
      .row
        .col-md-12.Welcome-entry.col-sm-12
          .col-md-5.col-md-offset-2.col-sm-6.col-xs-12
            .welcome_text.wow.fadeInLeft(data-wow-delay='0.3s' data-wow-offset='100')
              .row
                .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
                  // /.feature title
                  h2 SOKO ESTATE 
          .col-md-5.col-sm-6.col-xs-12
            .welcome_services.wow.fadeInRight(data-wow-delay='0.3s' data-wow-offset='100')
              .row
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-home.pe-4x
                    h3 Any property
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-users.pe-4x
                    h3 More Clients
                .col-xs-12.text-center
                  i.welcome-circle
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-notebook.pe-4x
                    h3 Easy to use
                .col-xs-6.m-padding
                  .welcome-estate
                    .welcome-icon
                      i.pe-7s-help2.pe-4x
                    h3 Any help 
  
  .count-area
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12.text-center.page-title
          // /.feature title
          h2 You can trust Us 
      .row
        .col-md-12.col-xs-12.percent-blocks.m-main(data-waypoint-scroll='true')
          .row
            .col-sm-3.col-xs-6
              .count-item
                .count-item-circle
                  span.pe-7s-users
                .chart(data-percent='5000')
                  h2#counter.percent 0
                  h5 HAPPY CUSTOMER 
            .col-sm-3.col-xs-6
              .count-item
                .count-item-circle
                  span.pe-7s-home
                .chart(data-percent='12000')
                  h2#counter1.percent 0
                  h5 Properties in stock
            .col-sm-3.col-xs-6
              .count-item
                .count-item-circle
                  span.pe-7s-flag
                .chart(data-percent='120')
                  h2#counter2.percent 0
                  h5 City registered 
            .col-sm-3.col-xs-6
              .count-item
                .count-item-circle
                  span.pe-7s-graph2
                .chart(data-percent='5000')
                  h2#counter3.percent 5000
                  h5 DEALER BRANCHES
  // boy-sale area
  .boy-sale-area
    .container
      .row
        .col-md-6.col-sm-10.col-sm-offset-1.col-md-offset-0.col-xs-12
          .asks-first
            .asks-first-circle
              span.fa.fa-search
            .asks-first-info
              h2 ARE YOU LOOKING FOR A Property?
              p
                | varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
        .col-md-6.col-sm-10.col-sm-offset-1.col-xs-12.col-md-offset-0
          .asks-first
            .asks-first-circle
              span.fa.fa-usd
            .asks-first-info
              h2 DO YOU WANT TO SELL A Property?
              p
                | varius od lio eget conseq uat blandit, lorem auglue comm lodo nisl no us nibh mas lsa
            .asks-first-arrow
              a(href='properties.html')
                span.fa.fa-angle-right
  script(type="text/javascript").
    
    $(document).ready(function(){
        //if($('input:radio[name="type"]').is(':checked')) { alert("it's checked"); }
      
    });
