doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title=title
    meta(name='description' content=description)
    meta(name='author' content='Donattah')
    meta(name='keyword' content='properties in kenya, Kenya properties, land in kenya')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    //link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(rel='icon' href='images/icon/favicon.ico' type='image/x-icon')
    //link(rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png")
    link(rel='stylesheet' href='/assets/css/normalize.css')
    link(rel='stylesheet' href='/assets/css/font-awesome.min.css')
    link(rel='stylesheet' href='/assets/css/fontello.css')
    link(href='/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' rel='stylesheet')
    link(href='/assets/fonts/icon-7-stroke/css/helper.css' rel='stylesheet')
    link(href='/assets/css/animate.css' rel='stylesheet' media='screen')
    link(rel='stylesheet' href='/assets/css/bootstrap-select.min.css')
    link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/css/icheck.min_all.css')
    link(rel='stylesheet' href='/assets/css/price-range.css')
    link(rel='stylesheet' href='/assets/css/owl.carousel.css')
    link(rel='stylesheet' href='/assets/css/owl.theme.css')
    link(rel='stylesheet' href='/assets/css/owl.transitions.css')
    link(rel='stylesheet' href='/assets/css/wizard.css')
    link(rel='stylesheet' href='/assets/css/style.css')
    link(rel='stylesheet' href='/assets/css/lightslider.min.css')
    link(rel='stylesheet' href='/assets/css/responsive.css')
    script(src='/js/jquery-2.1.1.min.js')

  body
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navigation')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/assets/img/logosokoestate.png' alt='' style="width:150px; ")
        // Collect the nav links, forms, and other content for toggling
        #navigation.collapse.navbar-collapse.yamm
          if !loggedin
            .button.navbar-right
              a(href='/login')
                button.navbar-btn.nav-button.wow.bounceInRight.login( data-wow-delay='0.15s') Login
              a(href='/register')
                button.navbar-btn.nav-button.wow.fadeInRight( data-wow-delay='0.18s') Sign Up
            
          ul.main-nav.nav.navbar-nav.navbar-right
            //li.dropdown.ymm-sw(data-wow-delay='0.1s')
              a.dropdown-toggle(href='#' data-toggle='dropdown' data-hover='dropdown' data-delay='200')
                | For Sale
                b.caret
              ul.dropdown-menu.navbar-nav
                li
                  a(href='') Home  2
                li
                  a(href='') Home  3
            //li.dropdown.ymm-sw(data-wow-delay='0.1s')
              a.dropdown-toggle(href='#' data-toggle='dropdown' data-hover='dropdown' data-delay='200')
                | For Rent
                b.caret
              ul.dropdown-menu.navbar-nav
                li
                  a(href='') Home  2
                li
                  a(href='') Home  3
                
            li.wow.fadeInDown(data-wow-delay='0.2s')
              a(href='/property') view Properties
            li.wow.fadeInDown(data-wow-delay='0.3s')
              a(href='/property/add') Add Property
            if loggedin
              li.dropdown.ymm-sw(data-wow-delay='0.1s')
                a.dropdown-toggle(href='#' data-toggle='dropdown' data-hover='dropdown' data-delay='200')
                  | Hello
                  span 
                    =user.names
                  b.caret
                ul.dropdown-menu.navbar-nav
                  li
                    a(href='/admin') 
                      i.fa.fa-user
                      |      Dashboard
                  li
                    a(href='/favorites')
                      i.fa.fa-bookmark
                      |    #{user.favorites.length}  Favourite properties
                  li
                    a(href='/logout') 
                      i.fa.fa-power-off
                      |      Logout
        //display errors
        .errors
          if errors
            each error in errors
              .alert.xxx-error.alert-danger
                = error
          
          if message
            .alert.xxx-error.alert-info
              = message
          if success_msg.length
            .alert.xxx-error.alert-success 
              = success_msg
          if error_msg.length
            .alert.xxx-error.alert-danger 
              = error_msg
          if error.length
            .alert.xxx-error.alert-danger 
              = error      
  block content
// Footer area
.footer-area
  .footer
    .container
      .row
        //.col-md-3.col-sm-6.wow.fadeInRight.animated
        .col-md-4.col-sm-6
          .single-footer
            h4 About us 
            .footer-title-line
            a(href='/')
              img.wow.pulse(src='/assets/img/logosokoestate.png', alt=title, style="width:150px !important; height:100% !important")
            p
              | Is the place to look for your new home and properties to invest in.
            ul.footer-adress
              li
                i.pe-7s-map-marker.strong  
                |  Address
              li
                i.pe-7s-mail.strong  
                |  info@sokoestate.com
              li
                i.pe-7s-call.strong  
                |  +254 738 266 973
        .col-md-4.col-sm-6
          .single-footer
            h4 Quick links 
            .footer-title-line
            ul.footer-menu
              li
                a(href='/property') Properties
              li
                a(href='/property/add') Submit property 
              li
                a(href='/terms-of-service') Terms of Service
              li
                a(href='/privacy-policy') Privacy Policy
       
        //.col-md-3.col-sm-6.wow.fadeInRight.animated
        .col-md-4.col-sm-6
          .single-footer.news-letter
            h4 Contact Us
            .footer-title-line
            form
              .input-group
                input.form-control(type='text' placeholder='E-mail ... ')
                span.input-group-btn
                  button.btn.btn-primary.subscribe(type='button')
                    i.pe-7s-paper-plane.pe-2x
            p
              | Subscribe to our newsletter and get the latest property listing information and many more...
              // /input-group
            .social.pull-right
              ul
                li
                  a.wow.fadeInUp.animated(href='https://twitter.com/')
                    i.fa.fa-twitter
                li
                  a.wow.fadeInUp.animated(href='https://www.facebook.com/')
                    i.fa.fa-facebook
                li
                  a.wow.fadeInUp.animated(href='https://plus.google.com/')
                    i.fa.fa-google-plus
                li
                  a.wow.fadeInUp.animated(href='https://instagram.com/')
                    i.fa.fa-instagram
                
  .footer-copy.text-center
    .container
      .row
        .pull-center
          span
            | (C) 
            a(href='sokoestate.com') Soko Estate
            |  , All rights reserved 2018
        
    

script(src='/assets/js/modernizr-2.6.2.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/assets/js/bootstrap-select.min.js')
script(src='/assets/js/bootstrap-hover-dropdown.js')
script(src='/assets/js/easypiechart.min.js')
script(src='/assets/js/jquery.easypiechart.min.js')
script(src='/assets/js/owl.carousel.min.js')
script(src='/assets/js/wow.js')
script(src='/assets/js/icheck.min.js')
script(src='/assets/js/price-range.js')
script(src='/assets/js/main.js')
script(src='/js/notify.js')
//add property js
script(src='/assets/js/jquery.bootstrap.wizard.js' type='text/javascript')
script(src='/assets/js/jquery.validate.min.js')
script(src='/js/jquery-gmaps-latlon-picker.js')
script(src='/js/axios.min.js')
script(src='/assets/js/wizard.js')
script(type="text/javascript" src="/assets/js/lightslider.min.js")
//script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
script(src='/js/slick.js')
//script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js")
script(src='/assets/js/accounting.min.js')

//script(type='text/javascript').
  $(document).ready(function() {
  $( "#mySlider" ).slider({
  range: true,
  min: 0,
  max: 50000000,
  values: [ 10000, 10000000 ],
  slide: function( event, ui ) {
  $( "#price" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
  }
  });
  $( "#price" ).val( "$" + $( "#mySlider" ).slider( "values", 0 ) +
  " - $" + $( "#mySlider" ).slider( "values", 1 ) );
  });
script(type='text/javascript').
  /* 
 * Love button for Design it & Code it
 */
  $('.btn-counter').on('click', function(event, count) {
    event.preventDefault();
    $(this).attr('rel');
    
    axios.get('/favorite/'+$(this).attr('rel'))
    .then(function (response) {
      console.log(response);
      Notify.toast(response.data, {
        fn: function () {
          // custom function here
        }
      });
    })
    .catch(function (error) {
      console.log(error);
    });
    
    var $this = $(this),
        count = $this.attr('data-count'),
        active = $this.hasClass('active'),
        multiple = $this.hasClass('multiple-count');
    
    // First method, allows to add custom function
    // Use when you want to do an ajax request
    /* if (multiple) {
    $this.attr('data-count', ++count);
    // Your code here
    } else {
    $this.attr('data-count', active ? --count : ++count).toggleClass('active');
    // Your code here
    } */
    
    // Second method, use when ... I dunno when but it looks cool and that's why it is here
    $.fn.noop = $.noop;
    $this.attr('data-count', ! active || multiple ? ++count : --count  )[multiple ? 'noop' : 'toggleClass']('active');
    
  });
script(type='text/javascript').
  $(document).ready(function(){
    var url = new URL(window.location.href);
    var priceicon = url.searchParams.get('price');
    //console.log(priceicon);
    
    url.href = url.href+"?q=true";
    if(priceicon == -1){ 
      url.searchParams.delete('price');     
      $('.order_by_price').attr("href", url.href+"&price=1");
      $('.order_by_price').find('i').addClass("fa-sort-numeric-asc");
    }else{
      url.searchParams.delete('price');
      $('.order_by_price').attr("href", url.href+"&price=-1");
      $('.order_by_price').find('i').addClass("fa-sort-numeric-desc");
    }
    var dateicon = url.searchParams.get('date');
    if(dateicon == -1){
      url.searchParams.delete('date');
      $('.order_by_date').attr("href", url.href+"&date=1");
      $('.order_by_date').find('i').addClass("fa-sort-asc");
    }else{
      url.searchParams.delete('date');
      $('.order_by_date').attr("href", url.href+"&date=-1");
      $('.order_by_date').find('i').addClass("fa-sort-desc");
    }
    //console.log(dateicon);
    //console.log(url);
    
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
  });  

script(type='text/javascript').
  $(document).ready(function() {
    $('.residential').show();
    $('select[name="subcategory"] option').hide();
    $('select[name="subcategory"] option[class="status"]').show();
    $('select[name="subcategory"] option[rel="residential"]').show();
    $subcategory = $(".subcat");
    $('input:radio[name="rent-sale"]').change(function(){
        var _val = $(this).val();
        console.log(_val);
    });
    
    //$('select[name*="category"] option').hide();
    $('body').on('change', "input[name='category']:radio", function() {
      var val = $(this).val();
      var rel = $(this).attr('rel');
      //alert(rel);
      //Show the selected one.
      $('select[name="subcategory"] option').hide();
      $('select[name="subcategory"] option[class="status"]').show();
      $('select[name="subcategory"] option[rel="'+rel+'"]').show();
      if(rel == 'Residential'){
        $('.others').hide();
        $('.residential').show();
      }else{
        $('.residential').hide();
        $('.others').show();
      }
      
      //$('.category option[value=val2]')
      //var selector = "select:option[rel=" + $(this).val() + "]";
      //$(selector).show();
    });
    
    $('body').on('change', "select[name=category]", function(event) {
      var val = $(this).val();
      var rel = $('select[name=category] option:selected').attr('rel');
      //Show the selected one.
      $('select[name=subcategory] option').hide();
      $('select[name=subcategory] option[class="status"]').show();
      $('select[name=subcategory] option[rel="'+rel+'"]').show();
      if(rel == 'Residential'){
        $('#others').hide();
        $('#residential').show();
      }else if(rel == 'Upcoming-Properties'){
        $('#others').hide();
        $('#residential').show();
      }
      else{
        $('#residential').hide();
        $('#others').show();
      }
    });
    
    $('#test :radio').on("change", function() {
      var _rel = $("#test :radio:checked").val();      
        alert(_rel);
        console.log(_rel);
        $.ajax({
              type: "GET",
              url: "/property/fetchcategory/"+_rel,
              success: function(data){
                  // Parse the returned json data
                  //var opts = $.parseJSON(data);
                  
                  $subcategory.empty();
                  $.each(data, function(i, d) {
                      // You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
                      //console.log(d.name);
                      $('#subcategory').append('<option value="' + d.name + '">' + d.name + '</option>');
                  });
                  $('.selectpicker').selectpicker('refresh');
              }
          });      
        });
    });
script(src='/js/jquery.geocomplete.js')
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9MX39yDkMJn6rjWi6vt4Rens5u_cVBQE&sensor=false&libraries=places")
script.
  $(function(){
    
    $(".surburb").geocomplete()
      .bind("geocode:result", function(event, result){
        console.log("Result: " + result.formatted_address);
      })
      .bind("geocode:error", function(event, status){
        console.log("ERROR: " + status);
      })
      .bind("geocode:multiple", function(event, results){
        console.log("Multiple: " + results.length + " results found");
      });
    
    $("#find").click(function(){
      $(".surburb").trigger("geocode");
    });
    
  });

script(type='text/javascript').
  $(document).ready(function() {
    $("#price-property td").each(function() {
      var num = $(this).text();
      console.log(num);
      var formNum = accounting.formatMoney(
        num,{
          symbol : "KSH. ",
          thousand: ","
        });
      $(this).text(formNum);
      console.log(formNum);
    }); 
   });
  
script(type='text/javascript').
  $(document).ready(function() {
    $("#ad_number").click(function () {
      if ($(this).is(":checked")) {
          $(".newNumbers").show();
      } else {
          $(".newNumbers").hide();
      }
    });
  });
  
script(type='text/javascript').
  function functionAlert(msg, myYes) {
    var confirmBox = $("#confirm");
    confirmBox.find(".message").text(msg);
    confirmBox.find(".yes").unbind().click(function() {
        confirmBox.hide();
    });
    confirmBox.find(".yes").click(myYes);
    confirmBox.show();
  }
  $(".yes").click(function () {
     $("#confirm").hide();
  });
