extends ../layout

block content
  .container
    .row
        .col-sm-6.col-md-4.col-md-offset-4
            h1.text-center.login-title Sign in to continue to Soko Estate
            .account-wall
                a.btn-gp-link(href="/auth/facebook")
                  button.btn.btn-lg.btn-info.btn-block(type='button')
                      | Sign Up with Facebook
                a.btn-gp-link(href="/auth/google")
                  button.btn.btn-lg.btn-danger.btn-block(type='button')
                      |  Sign Up with Google
                form.form-signin(method='post',action="/register")
                    input.form-control(type='text' placeholder='Full Name' required='' autofocus='',name='username')
                    input.form-control(type='email' placeholder='Email' required='',name='password')
                    input.form-control(type='text' placeholder='Phone' required='',name='password')
                    input.form-control(type='password' placeholder='Password' required='',name='password')
                    input.form-control(type='password' placeholder='Confirm Password' required='',name='cpassword')
                    
                    p
                      small
                        | By signing up, I agree to Sokoestate’s, 
                        a(href='#') Terms of Service
                        | , 
                        a(href='#') Privacy Policy
                        | .
                    button.btn.btn-lg.btn-primary.btn-block(type='submit')
                        | Sign Up
                
                    label.checkbox.pull-left
                        input(type='checkbox' value='remember-me' style="float: left; margin-left: -55px;")
                          | I’d like to receive coupons and newsletters from Sokoestate
               
                span.clearfix
                   a.text-center.new-account(href='/login') Already have an account? Login Here. 
  