extends ../layout

block content
  .container
    .row
        .col-sm-6.col-md-6.col-md-offset-4
            h1.text-center.login-title Sign in to continue to Soko Estate
            .account-wall
                form.form-signin(method='post',action="/register")
                    input.form-control(type='text' placeholder='Full Name' required autofocus='',name='names')
                    input.form-control(type='email' placeholder='Email' required  name='email')
                    input.form-control(type='text' placeholder='Company Name' required autofocus='',name='company')
                    input#twitter.form-control(type='text', placeholder='Twitter', name='twitter', value='')
                    input#facebook.form-control(type='text', placeholder='Facebook', name='facebook', value='')
                    input#instagram.form-control(type='text', placeholder='Instagram', name='instagram', value='')
                    input.form-control(type='text' placeholder='Phone' name='phone')
                    input.form-control(type='password' placeholder='Password' required='',name='password')
                    input.form-control(type='password' placeholder='Confirm Password' required='',name='cpassword')
                    
                    p
                      small
                        | By signing up, I agree to Sokoestate’s, 
                        a(href='/terms-of-service')   Terms of Service
                        | , 
                        a(href='/privacy-policy')    Privacy Policy
                        | .
                    button.btn.btn-lg.btn-primary.btn-block(type='submit')
                        | Sign Up
                
                    div(style="padding:1rem")
                      a.btn-gp-link(href="/auth/facebook")
                        span(style="padding:1rem")
                          button.btn.btn-lg.btn-info.btn-block(type='button')
                            | Sign in with Facebook
                      a.btn-gp-link(href="/auth/google")
                        span(style="padding:1rem")
                          button.btn.btn-lg.btn-danger.btn-block(type='button')
                              | Sign in with Google
                    label.container-checkbox(style="font-size: 14px;")  I’d like to receive deals and newsletters from Sokoestate
                      input(type='checkbox', value='remember-me')
                      span.checkmark(style="border: solid #b3abab;")
                      //label.checkbox.pull-left
                        input(type='checkbox' value='remember-me' style="float: left; margin-left: -150px;")
                        | I’d like to receive coupons and newsletters from Sokoestate
               
                span.clearfix
                   a.text-center.new-account(href='/login') Already have an account? Login Here. 
  
