extends ../backendlayout

block content
  .row
    .main-content
      .section__content.section__content--p30
        .container-fluid
          .row
            .col-lg-12
              .card
                .card-header
                  strong Add Category
                form.form-horizontal(method="post",action="/category/add",enctype='multipart/form-data')
                  .card-body.card-block
                      .row.form-group
                        .col-12.col-md-9
                            input#name.form-control(type='text' name='name' placeholder='Category Name')
                            small.form-text.text-muted Enter the name of the category
                      .row.form-group
                        .col-12.col-md-9
                            input#order.form-control(type='text' name='order' placeholder='order')
                            small.form-text.text-muted Enter the order of the category
                      .row.form-group
                          input#icon.form-control-form(type='text', name='icon', placeholder='icon')
                          small.form-text.text-muted Category Icon
                      .row.form-group
                        .col.col-md-3
                          label.form-control-label(for='file-input') Category cover photo
                        .col-12.col-md-9
                          input#photod.form-control-file(type='file' name='photo' placeholder='photo')
                  
                  .card-footer
                    button.btn.btn-primary.btn-sm(type='submit')
                      i.fa.fa-dot-circle-o
                      |  Create
                  
                    
        
