extends ../backendlayout

block content
  // MAIN CONTENT
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
           .col-lg-12
              .card
                .card-header
                  strong Add Subcategory
                form.form-horizontal(method="post",action="/category/subcategory/add")
                  .card-body.card-block
                      .row.form-group
                        .col-12.col-md-9
                            input#text-input.form-control(type='text' name='name' placeholder='Subcategory')
                            small.form-text.text-muted Enter the name of the Subcategory
                      .row.form-group
                        .col-12.col-md-9
                            select.form-control(name='category')
                              option(data-icon='glyphicon-wrench', value='') Select Category
                              each category in categories
                                option(data-icon='fa '+category.icon, value=category.id) #{category.name} 
                  .card-footer
                    button.btn.btn-primary.btn-sm(type='submit')
                      i.fa.fa-dot-circle-o
                      |  Create
