extends ../backendlayout
block content
  // MAIN CONTENT
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
          .container-fluid
            // MAIN CONTENT
            .main-content(style="padding-top: 50px;")
              .section__content.section__content--p30
                p
                  if(user.names)
                    strong Your Name:  
                      =user.names
                  else
                    strong Your Name:
                    | N/A
                p 
                  if(user.phone)  
                    strong Phone Number:    
                      =user.phone
                  else
                    strong Phone Number:
                    | N/A
                
                p  
                  if(user.email) 
                    strong Email Address:
                      =user.email
                  else
                    strong Email Address:
                    | N/A
                
                
                p
                  a(href='/users/editprofile')
                    Strong
                      span.fa.fa-book
                      |    Edit Profile
                p
                  a(href='/users/changepassword')
                    Strong
                      span.fa.fa-lock     
                      |    Change Password
                
                //p
                  =user.role
                    
                
        
        
