extends ../backendlayout
block content
  // MAIN CONTENT
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
          .container-fluid
            // MAIN CONTENT
            .main-content(style="padding-top: 50px;")
              .section__content.section__content--p30
                .row
                   .col-md-12
                      aside.profile-nav.alt
                        section.card
                          .card-header.user-header.alt.bg-dark
                            .media
                              a(href='#')
                                img.align-self-center.rounded-circle.mr-3(style='width:85px; height:85px;' alt='' src='images/icon/avatar-01.jpg')
                              .media-body
                                h2.text-light.display-6 Jim Doe
                                p Project Manager
                          ul.list-group.list-group-flush
                            li.list-group-item
                              a(href='#')
                                i.fa.fa-envelope-o
                                |  Mail Inbox
                                span.badge.badge-primary.pull-right 10
                            li.list-group-item
                              a(href='#')
                                i.fa.fa-tasks
                                |  Recent Activity
                                span.badge.badge-danger.pull-right 15
                            li.list-group-item
                              a(href='#')
                                i.fa.fa-bell-o
                                |  Notification
                                span.badge.badge-success.pull-right 11
                            li.list-group-item
                              a(href='#')
                                i.fa.fa-comments-o
                                |  Message
                                span.badge.badge-warning.pull-right.r-activity 03
                p
                  if(user.names)
                    strong Your Name:           
                      =user.names
                  else
                    strong Your Name:         
                    |      N/A
                p 
                  if(user.phone)  
                    strong Phone Number:          
                      =user.phone
                  else
                    strong Phone Number:       
                    |      N/A
                
                p  
                  if(user.email) 
                    strong Email Address:     
                      =user.email
                  else
                    strong Email Address:    
                    |     N/A
                p  
                  if(user.twitter) 
                    strong Twitter:     
                      =user.twitter
                  else
                    strong Twitter:    
                    |     N/A
                p  
                  if(user.facebook) 
                    strong Facebook:     
                      =user.facebook
                  else
                    strong Facebook:    
                    |     N/A
                p  
                  if(user.instagram) 
                    strong Instagram:     
                      =user.instagram
                  else
                    strong Instagram:    
                    |     N/A
                
                p
                  a(href='/users/editprofile')
                    Strong
                      span.fa.fa-book
                      |    Edit Profile
                p
                  a(href='/users/changepassword')
                    Strong
                      span.fa.fa-lock     
                      |    Change Password
                
                //p
                  =user.role
                    
                
        
        
