extends ../backendlayout
block content
  // MAIN CONTENT
  .main-content
    .section__content.section__content--p30
      .container-fluid
        .row
          .container-fluid
            // MAIN CONTENT
            .main-content(style="padding-top: 50px;")
              .section__content.section__content--p30
                .row
                   .col-md-12
                      aside.profile-nav.alt
                        section.card
                          .card-header.user-header.alt.bg-gray
                            .media
                              a(href='#')
                                img.align-self-center.rounded-circle.mr-3(src='/uploads/thumbs/users/'+user.photouser, style='width:85px; height:85px;', alt='' )
                              .media-body
                                if user.name
                                  h2.text-light.display-6 
                                    =user.name
                          ul.list-group.list-group-flush
                            li.list-group-item
                              .row
                                .col-md-12
                                  if user.email
                                    div 
                                      i.fas.fa-envelope           
                                        =user.email
                                  if user.phone
                                    div 
                                      i.fas.fa-envelope           
                                        =user.phone
                                  if user.phones
                                    div
                                      each phon in user.phones
                                        div
                                          i.fas.fa-mobile           
                                            =user.phone
                                  if user.organization
                                    div
                                      i.fas.fa-briefcase             
                                        =user.organization

                              
                            li.list-group-item
                              .row
                                .col-md-12
                                  if user.twitter 
                                    div
                                      i.fab.fa-twitter                  
                                        =user.twitter
                                  if user.facebook
                                    div
                                      i.fab.fa-facebook                         
                                        =user.facebook
                                  if user.instagram
                                    div
                                      i.fab.fa-instagram                      
                                        =user.instagram
                                
                            li.list-group-item
                              a(href='/users/editprofile')  
                                span.badge.badge-success.pull-right 
                                  Strong
                                    span.fa.fa-book           
                                    |    Edit Profile
                            li.list-group-item
                              a(href='/users/changepassword') 
                                span.badge.badge-warning.pull-right.r-activity
                                  Strong
                                    span.fa.fa-lock              
                                    |    Change Password
              
                    
                
        
        
