extends ../layout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      if validationerrors
        each error in validationerrors
          .alert.alert-danger.xxx-error
            = error.msg
      .xxx
        hr
        h2
          |  Enter your phone number
        
        form(method="post", action="/google")
          .form-group
            input#phone.form-control(type='text', placeholder='Phone', name='phone', value="")
          .form-group
            input.form-control(type='text' placeholder='Company Name' autofocus='' name='company')
          .form-group
            input#twitter.form-control(type='text', placeholder='Twitter', name='twitter', value='')
          .form-group
            input#facebook.form-control(type='text', placeholder='Facebook', name='facebook', value='')
          .form-group
            input#instagram.form-control(type='text', placeholder='Instagram', name='instagram', value='')
          .form-group
            button.btn.btn-primary.w3ls-btn(type='submit') Sign Up
